<h1><%= @chat.title %></h1>

<div>
  <% @chat_messages.each do |message| %>
  <br>
    <strong><%= message.user.username %></strong>
    <%= message.body %>
  <br>
  <% end %>
</div>

<%= form_for [@chat, @message] do |f| %>

 <%= f.label :body %><br/>
 <%= f.text_area :body %><br/>

 <%= f.submit %>
<% end %>
